doctype html 
html(lang='zxx') 
  head
    title Hello World!!!
    meta(charset='UTF-8')
    link(rel='stylesheet',href='style/packages/Normalize.css')
    link(rel='stylesheet',href='style/style.css')
  body.b-page 
    header.b-page__header-line 
      h4.b-header-logo your logo 
      nav.b-header-nav.b-page__nav
      
        -let b_header_nav_link = ['home','about','servicing','portfolio','blog','contact us'];
        -for (let i of b_header_nav_link) {
          .b-header-nav-item.b-header-nav__item
            a(href='*')= i
        -}
        
        .b-header-nav-item.b-header-nav-item_search
          img(src='img/header/header-search.png',alt='img').b-header-search-img
      .b-header-nav.b-page__nav.b-header-nav_minw
        button(type='button').b-header-nav-item.b-header-nav__item_move menu 
        img(src='img/header/header-menu.png',alt='img').b-header-nav-img
    main 
      .b-head-info
        .b-head-container
          article.b-head-content
            h6.b-head-title Web development project
            h1.b-head-content__post-title.
              Very suitable to support all web 
              development projects 
            button(type='button').b-head-btn.b-head-content__btn.b-head-btn_white our services
            button(type='button').b-head-btn.b-head-content__btn.b-head-btn_green.b-head-content__btn_green hire is now
      article.b-abus.b-page__abus-line
        h5.b-abus-title about us 
        p.b-abus-post-title.b-abus__post-title. 
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
        .b-abus-cols.b-abus__cols
        
          -let b_abus_col = ['awesome icons','one page','fully responsive'];
          -for (let i in b_abus_col) {
            section.b-abus-col.b-abus-cols__col
              img(src=`img/about/about-us-img${++i}.png`,alt='img').b-abus-col__img
              h2.b-abus-col-title.b-abus-col__title= b_abus_col[--i]
              p.b-abus-col-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
          -}
      article.b-service.b-page__service-line
        h5.b-service-title our services
        p.b-service-post-title.b-service__post-title.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
        .b-services
        
          -let b_service_item = ['research','portfolio','support','documentation','development','design'];
          -for (let i of b_service_item) {
            section.b-service-item.b-services__item
              h2.b-service-item-title= i
              p.b-service-item-txt. 
                At vero eos et accusamus et iusto
                odio dignissimos ducimus qui bland
                itiis praesentium voluptatum iti 
                atque corrupti quos.
              .b-service-btn-container 
                button(type='button').b-service-item-btn.b-service-item__btn read more 
          -}
      article.b-lworks.b-page__lworks-line
        h5.b-lworks-title latest works  
        p.b-lworks-post-title.b-lworks__post-title.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
        nav.b-lworks-btns.b-lworks__btns
        
          -let b_lworks_btn = ['all','web design','ui/ux design','mockups'] 
          -for (let i of b_lworks_btn) {
            button(type='button').b-lworks-btn.b-lworks-btns__btn= i
          -}
          
        .b-lworks-images.b-lworks__images
        
          -for (let i = 1; i<7; i++) {
            section.b-lworks-images-container
              img(src=`img/works/works-img${i}.png`,alt='img').b-lworks-images-img
              .b-lworks-images-img-l
                h2.b-lworks-images-title latest works
          -}
        
        button(type='button').b-lworks-vbtn.b-lworks__vbtn view all 
      article.b-contacts.b-page__contacts-line 
        h5.b-contacts-title contact us
        p.b-contacts-post-title.b-contacts__post-title.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        .b-contacts-icons
          -let b_contacts_icon = ['Nobinagar savar, Dhaka Bangladesh','+8801743331996 +8801928737807','quickmasud@gmail.com quickmasud@yahoo.com'];
          -for (let i in b_contacts_icon) {
            section.b-contacts-icon.b-contacts__icon
              .b-contacts-icon-container.b-contacts-icon__container
                img(src=`img/contacts/contacts-icon${++i}.png`,alt='img').b-contacts-icon-img.b-contacts-icon__img 
              h2.b-contacts-icon-txt= b_contacts_icon[--i]
          -}
        form.b-contacts-form.b-contacts__form
          .b-contacts-form-head
            input(type='text',placeholder='Your NAME').b-contacts-inp.b-contacts-form-head__inp
            input(type='email',placeholder='Your EMAIL').b-contacts-inp.b-contacts-form-head__inp
          textarea(placeholder='Write Message',rows ='10').b-contacts-inp.b-contacts-form__inp
          input(type='submit',value='send').b-contacts-inp.b-contacts-form__inp.b-contacts-inp_sub.b-contacts-form__inp_sub     
          
        
    footer.b-footer.b-page__footer-line
      p.b-footer-img 
        a(href='http://jigsaw.w3.org/css-validator/check/referer')
          img(style='border:0;width:88px;height:31px;',src='http://jigsaw.w3.org/css-validator/images/vcss-blue',alt='Правильный CSS!')
      h3.b-footer-title All rights Reserved © 2017
